@import url(assets/css/cabecalho.css);
@import url(assets/css/principal.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



:root {
    --fonte-padrao: 'Poppins', sans-serif;
    --verde: #628E75;
    --branco: #F9F9F9;
    --background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);

}

* {
    color: var(--branco);
    font-family: var(--fonte-padrao)
}

body {
    background-image: var(--background);
    width: 100vw;
    height: 100vh;

}

@media screen and (max-width:1220px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}