.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.cabecalho__imagem img {
    width: 140px;
    margin-left: 14em;
}

.cabecalho__icones {
    margin-right: 20em;
}

.cabecalho__icones img {
    padding: 0 0.6em;
}

@media screen and (max-width:1220px) {
    .cabecalho {
        position: absolute;
        top: 10px;
        display: flex;
        justify-content: space-between;
    }

    .cabecalho__imagem img{
        margin: 1em;
    }

    .cabecalho__icones {
        margin-right: 0;
    }
}